<div style="width: 60%; margin: 0px auto;" class="section mb-3">
    <div class="container">
        <h4 class="text-center text-warning">Copyrights</h4>
        <div class="main d-flex justify-content-center flex-wrap bg-dark-custom shadow-custom">
            <div style="height: auto;" class="card copyright-card">
                <img src="assets/images/covidAi.PNG" style="height: 30rem;" alt="" class="card-img-top">
                <div class="card-body copyright-details d-flex justify-content-center flex-wrap flex-column p-3">
                    <div class="card-title">Covid-AI</div>
                    <div class="text-bg-info my-2">REG_NO: <mark>SW-14729/2021</mark></div>
                    <div class="text-info my-2">This is a project developed during covid uses Ai for Image processing and determines percentage 
                     probablity of getting covid affected or not
                    </div>
                    <div class="text-light">Received On: <mark>15/07/2021</mark></div>
                    <a href="" class="btn btn-outline-success">More Info</a>
                </div>
            </div>
            <div class="card copyright-card">
                <img src="assets/images/covidAi.PNG" style="height: 30rem;" alt="" class="card-img-top">
                <div class="card-body copyright-details d-flex justify-content-center flex-wrap flex-column p-3">
                    <div class="card-title">CoviDoct</div>
                    <div class="text-bg-info my-2">REG_NO: <mark>15448/2022</mark></div>
                    <div class="text-info my-2">This is a telemedicinal portal for Online doctor consultancy which helps for better doctor to patient ratio 
                    </div>
                    <div class="text-light">Received On:<mark>18/06/2022</mark></div>
                    <a href="" class="btn btn-outline-success">More Info</a>
                </div>
            </div>
            <!-- <iframe class="m-2" src="https://www.linkedin.com/embed/feed/update/urn:li:share:6943956710705238016" height="575" width="auto" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
            <iframe class="m-2" src="https://www.linkedin.com/embed/feed/update/urn:li:share:6821496943429115904" height="575" width="auto" frameborder="0" allowfullscreen="" title="Embedded post"></iframe> -->
        </div>
    </div>
</div>